body {
    color: #bbb;
    background: #333;
    font-family: system-ui;
    margin: 0;
    padding-bottom: 60px;
}

.canvas-stage {
    position: relative;
}

.canvas-stage canvas {
    position: absolute;
}

#tooltip {
    align-items: center;
    background-color: white;
    border-right: 1px solid #888;
    border-top: 1px solid #888;
    bottom: 0;
    color: #111;
    display: flex;
    font-family: monospace;
    font-size: 22px;
    font-weight: bold;
    justify-content: center;
    left: 0;
    min-height: 32px;
    min-width: 128px;
    opacity: 0.7;
    padding: 4px 8px;
    position: fixed;
    text-shadow: 1px 1px 2px #ccc;
    z-index: 1;
}
